.cl {
    background: rgb(65,237,148,0.5);
    color: blue;
   font-size: 15px;
}
h2 {
    text-align: center;
}
#classe2 {
    text-align: center;
    background-color: aqua;
}
.para1 {
    text-align: left;
    border: 1px solid black;
}
#para {
    color: red;
    text-align: right;
    border: 1px solid black;
}
.strong {
  text-align: center;
  border: 1px solid blue;
}
td, th {
    color:red;
}
.rgb {
    color: white;
    text-align: center;
}
.diez {
    color: white;
    text-align: center;
}
table {
    background-image:url("../image/imageBS.gif");
    background-repeat: no-repeat;
    background-position: center;
}
ul { background: #010B2E;
background-image:url("../image/bg.jpg");  
background-repeat: no-repeat;
 background-position: center;
color:white;
}
.test {
    background: #010B2E;
    background-image:url("../image/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.pos {
    background-image:url("../image/kraknoix.gif");
    background-position: calc(100% - 25px);
    background-repeat: no-repeat;
    border: 1px solid orange;
}
.img {
    background-image:url("../image/kraknoix.gif");
    background-size: 7%;
    background-repeat: repeat-x;
    border: 1px solid black;
    text-align: center;
}
.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax1 {
      background-image:url("../image/kraknoix.gif");
  }
  .parallax2 {
      background-image:url("../image/vibraninf.jpg");
  }
  .parallax3 {
      background-image:url("../image/libegon.jpg");
  }